* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 4rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* position: fixed; */
}

.aboutme {
  display: flex;
}
.icon {
  display: flex;
  height: 3rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  background: #fffaed;
  padding-bottom: 1rem;
  padding: 1rem 4rem;
  position: fixed;
  width: 100vw;

  z-index: 999;
}
/* /* .maincontent
  background: url("https://framerusercontent.com/images/1bkjhg7FQ0AlO3qoL7XMXvBrig.gif?width=1920&height=1080");
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
} * */

.font {
  font-family: "Patrick Hand", cursive;
  color: #0d231f;
  font-size: 3.5rem;
  text-align: left;
  justify-content: center;
  padding: 5rem;
  /* line-height: 1.3;
  max-width: 900px; */

}

.maincontent {
  position: absolute;
  padding-top: 5rem;
}

.skill {
  display: flex;
  gap: 2rem;
  padding: 5rem;
  margin-top: -7rem;
}

.skill span {
  border: 1px solid #0d231f;
  padding: 0.5rem;
  border-radius: 10px;
}

.degree {
  padding-left: 5rem;
  margin-top: -3rem;
}

.cards_grid {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.cards {
  border: 1px solid #0d231f;
  border-radius: 1rem;
  width: rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1.5rem;
  background-color: #fffaed;
}

.cards p {
  width: 80%;
}

.cards div span {
  margin-top: 3rem;

  margin-bottom: 0;
}

.cards h1 {
  margin-top: -3rem;
}

.cards button {
  border-radius: 2rem;
  background: transparent;
  padding: 0.5rem;
  font-size: larger;
  color: #0d231f;
  border: 1px solid #0d231f;
}

.pattern {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  gap: 2rem;
}

.footer {
  padding: 3rem;
  background: #0d231f;
}

.footer span {
  color: #fff;
}

.contact {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.caveat-uniquifier {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.leftside {
  background: #fffaed;
}

.rightside {
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 6rem 8rem;
 gap: 4rem;


}
.leftside {
  padding-left: 15rem;
}

.footer-main {
  padding: 2rem;
}
.footer-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #333;
  text-align: center;
  padding: 20px 0;
  margin-left: 3rem;
}

.leftside p{
  font-weight: 300;
}